@model MVC_Playground.ViewModels.FileUploadViewModel
@{
    ViewBag.Title = "Csv Employee";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    Bulk Upload
}
@section ContentBody{
    <div>
        <a href="/playground/mvc/Employee/Index">Back</a>
        <form action="/playground/mvc/BulkUpload/Upload" method="post" enctype="multipart/form-data">
            Select File : <input type="file" name="fileUpload" value="" /><br>
            <!--
                Text : <input type="text" name="fileName" value="Nazwa" />
            Number 1 : <input type="number" name="numbers" value="1" />
            Number 2 : <input type="number" name="numbers" value="2" />
            Number 3 : <input type="number" name="numbers" value="3" />
                -->
            <input type="submit" name="name" value="Upload" />
        </form>
    </div>
}

